<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StarboundDirectory" value="C:\Program Files (x86)\Steam\steamapps\common\Starbound\win64"/>
    <add key="WorkshopFolder" value="C:\Program Files (x86)\Steam\steamapps\workshop\content\211820"/>
  </appSettings>
</configuration>